<section>
    <app-title
    [clase] ="'title_product'"
    [titleName] ="'Resumen de la orden'"
    ></app-title>
    <div class="row productos" *ngFor="let producto of productos">
        <div class="col-3">
            <img [src]="producto.image" [alt]="producto.name" class="w-100">
        </div>
        <div class="col-6">
            <p class="info">{{producto.name | uppercase }}</p>
        </div>
        <div class="col-3">
            <p class="small">{{producto.price | currency: 'COP': 'symbol-narrow': '.0-0'  }}</p>
        </div>
    </div>
    <div class="subtotal d-flex">
      <p>Subtotal envio</p>
      <p>{{ total | currency: 'COP': 'symbol-narrow': '.0-0'  }}<br> a Calcular</p>
    </div>
    <div class="total d-flex">
      <p>Total</p>
      <p>{{total| currency }}</p>
    </div>
</section>