<div class="jumbotron">
    <h1 class="display-4">Prueba BlackSip</h1>
  </div>

  <div class="container fomulalrio">
    <div class="row">
      <div class="col-12 col-md-8 text-center">
        <app-title
        [clase] ="''"
        [titleName] ="'Dirección de envió'"
        ></app-title>
        <div class="content-center">
          <div class="row">
            <div class="col-12">
              <app-productos></app-productos>
            
            </div>
            <div class="col-12 sec-btn">
              <app-btn></app-btn>
              <button type="button" class="btn btn-dark" (click)="getAlldatos()">Libreta de Direcciones</button>
              <mat-checkbox class="check">Utilizar como direcciónde facturación</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <app-content></app-content>
      </div>
    </div>
  </div>